/*--Font colors--*/
$base-font-size:15px;
$base-font-family: "segoe UI", "segoe WP","segoe Regular",sans-serif;
$base-font-color:#666666;

/*--background colors--*/
$primary-color: #00aff0;
$secondary-color: #7fba00;
$light-color: #e4eef2;
$dark-color: #2b5464;
$default-color:#ffffff;

/*banner section--*/
$banner-height:400px;
$banner-image:"../img/banner-img.jpg";